[submodule "vendor/Aura.Autoload"]
	path = vendor/Aura.Autoload
	url = git://github.com/auraphp/Aura.Autoload.git
[submodule "vendor/Pheanstalk"]
	path = vendor/Pheanstalk
	url = git://github.com/pda/pheanstalk.git
[submodule "vendor/Requests"]
	path = vendor/Requests
	url = git://github.com/rmccue/Requests.git
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "vendor/elasticsearch"]
	path = vendor/elasticsearch
	url = git://github.com/gotryiton/elasticsearch.git
[submodule "vendor/php-activerecord"]
	path = vendor/php-activerecord
	url = git://github.com/gotryiton/php-activerecord.git
